/*author: Kim-Anh-Nhi Nguyen*/
body{
	
	background-color: #b3b3ff;
	font-family: Verdana, Arial, sans-serif, serif;
	color:black;
}
header{
	color: #000066;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	padding: 0.7em;
}
nav{
	background-color: #000066;
	padding: 1em 0.5em;
	text-align: center;
}
nav a {
	color:white;
	text-decoration: none;
	padding: 1em 3em;
}
nav a:hover {
	background-color: #0077b3;
	/*#003366;*/
}


section{
}

section article{
	border: 0.2em ;
	background-color: #ccccff;
	border-radius: 0.8em;
	font-size: small;
	text-align: justify;
	width: 68%;
	padding: 1%;
	margin-left: 4%;
	margin-top: 4%;
	margin-bottom: 1%;
	
}
section h1{
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
	padding: 0;
}
.line{
	text-align: center;
	padding-top: 1em;
}
.line:after{
    content:' ';
    display:block;
    border:0.05em solid black;
}
article{
	border-right: 0.2em solid #c2c2a3;
	margin-left: 1em;
}
article p{
	padding-right: 4em;
	padding-left: 4em;
}
article h1{
	text-align: center;
	text-transform: none;
	letter-spacing:0;
}
article h2{
	text-align: center;
	font-size:small;
	text-transform: uppercase;
	padding: 1em;
}

aside{
	text-align: justify;
	font-size: small;
	float: right;
	width: 18%;
	margin-right: 1%;
}
aside h3{
	padding-top: 7em;
	font-size: small;
	font-weight: bold;
}
aside h2{
	padding-top: 40%;
	font-size:small;
	text-transform: uppercase;
}

footer{
	font-size: x-small;
	text-align: center;
}


img{
	display: block;
	margin: auto;
	width: 40em;
	height: auto;
	border: 0.3em solid #666699;
}

video{
	display: block;
	width: 40em;
	height: auto;
	margin: auto;
}
#video1{
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}
form{
	text-align: center;
}

button , #send {
	font-family: Verdana, serif;
	font-size: 90%;
	text-align: center;
	background-color: #00004d;
	color: white;
	letter-spacing: 0.07em;
	border-radius: 1em;
	padding: 0.5em 1em;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0.5em;

}
button:hover {
    background-color: #333399;
}
button:active {
    background-color: #333399;
    transform: translateY(0.15em);
}
article button {
	
}

input{
	display: block;
	margin: auto;
	border-radius: 0.5em;
	padding: 0.5em 1em;
}

p a {
	text-decoration: none;
	font-weight: bold;
}
#currentlocation{
	text-align: center;
}

#map-canvas {
	margin: auto;
	padding: 1em;
	height: 28em;
	width:50%;
	max-width: none;
	margin-top: 4%;
}
#map-canvas img {
	max-width: none !important;
}
#video2{
	display: block;
	margin: auto;
	border-radius: 100%;
}
.video_rotate
{
	transform: rotate(20deg);
}
canvas{
	padding-top: 1em;
	display: inline-block;
}
.mycanvas{
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 5%;
}
.mycanvas2{
	width: 30%;
	float: right;
	padding-bottom: 5%;
}
#canvasdiv{
	margin-bottom: 10%;
}
.currentplay{
	text-align: center;
	text-transform: uppercase;
}